<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Baloo+2&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ '/style.css' | url }}" >

  <title>{{ title }}</title>
</head>
<body class="bg-yellow-100">
 
  <div class="md:container md:mx-auto px-8 md:px-32" id="main-div">
    {% include "_partials/header.njk" %}

    {{ content | safe }}
  </div>
  
  <script>
    const clipsDiv = document.getElementById('clips-div')
    const mainDiv = document.getElementById('main-div')
    const nextButton = document.getElementById('next-button')
    clipsDiv.onwheel = function(){ return false; }
    nextButton.addEventListener('click', () => {
      const offsetX = clipsDiv.offsetWidth
      clipsDiv.scrollBy({
        top: 0,
        left: offsetX,
        behavior: 'smooth'
      })
    })  
  </script>
</body>
</html>