<header class="flex justify-between py-8">
  <a href="{{ '/' | url }}" class="">
    <h1 class="text-2xl md:text-3xl lg:text-4xl font-bold">My ReadWise</h1>
  </a>
  <a href="{{ '/review' | url }}" class="">
    <h3 class="text-base md:text-xl lg:text-2xl">review</h3>
  </a>
</header>